@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
/*Contenido*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

/*CONTENEDOR GENERAL*/
.general {
  width: 100%;
  height: 70vh; }

/*Header*/
header {
  width: 100%;
  height: 753px;
  background-image: url(../img/header3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  overflow: hidden; }
  header .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 85px;
    background-color: #0A0003;
    position: fixed;
    z-index: 1; }
    header .header__container .header__logo {
      margin-top: 10px;
      margin-left: 20px; }
      header .header__container .header__logo--titulo {
        font-size: 60px;
        color: #FD5680;
        font-weight: 700;
        font-family: "Courgette", cursive; }
    header .header__container .header__lista {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 20px;
      margin-top: 30px; }
      header .header__container .header__lista a:nth-child(1) {
        color: white;
        padding: 5px;
        margin: 10px;
        font-size: 30px;
        font-family: "Roboto Mono", monospace; }
      header .header__container .header__lista a:nth-child(2) {
        color: white;
        padding: 5px;
        margin: 10px;
        font-size: 30px;
        font-family: "Roboto Mono", monospace; }
      header .header__container .header__lista a:nth-child(3) {
        color: white;
        padding: 5px;
        margin: 10px;
        font-size: 30px;
        font-family: "Roboto Mono", monospace; }
      header .header__container .header__lista a:nth-child(4) {
        color: white;
        padding: 5px;
        margin: 10px;
        font-size: 30px;
        font-family: "Roboto Mono", monospace; }
      header .header__container .header__lista a:nth-child(5) {
        color: white;
        padding: 5px;
        margin: 10px;
        font-size: 30px;
        font-family: "Roboto Mono", monospace; }
      header .header__container .header__lista--item:hover a {
        color: #FB7E22;
        padding: 5px;
        margin: 10px;
        font-size: 30px;
        font-family: "Roboto Mono", monospace; }
  header .container__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 160px; }
    header .container__contenido--subtitulo {
      color: white;
      font-family: "Courgette", cursive;
      font-size: 80px;
      margin-top: 20px;
      display: flex;
      justify-content: center; }
    header .container__contenido--informacion {
      font-family: "Courgette", cursive;
      color: white;
      font-size: 30px;
      width: 70%;
      margin-top: 15px;
      margin-left: 290px;
      text-align: justify; }

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 85px;
  background-color: #0A0003;
  position: fixed;
  z-index: 1; }
  .header__container .header__logo {
    margin-top: 10px;
    margin-left: 20px; }
    .header__container .header__logo--titulo {
      font-size: 60px;
      color: #FD5680;
      font-weight: 700;
      font-family: "Courgette", cursive; }
  .header__container .header__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 30px; }
    .header__container .header__lista a:nth-child(1) {
      color: white;
      padding: 5px;
      margin: 10px;
      font-size: 30px;
      font-family: "Roboto Mono", monospace; }
    .header__container .header__lista a:nth-child(2) {
      color: white;
      padding: 5px;
      margin: 10px;
      font-size: 30px;
      font-family: "Roboto Mono", monospace; }
    .header__container .header__lista a:nth-child(3) {
      color: white;
      padding: 5px;
      margin: 10px;
      font-size: 30px;
      font-family: "Roboto Mono", monospace; }
    .header__container .header__lista a:nth-child(4) {
      color: white;
      padding: 5px;
      margin: 10px;
      font-size: 30px;
      font-family: "Roboto Mono", monospace; }
    .header__container .header__lista a:nth-child(5) {
      color: white;
      padding: 5px;
      margin: 10px;
      font-size: 30px;
      font-family: "Roboto Mono", monospace; }
    .header__container .header__lista--item:hover a {
      color: #FB7E22;
      padding: 5px;
      margin: 10px;
      font-size: 30px;
      font-family: "Roboto Mono", monospace; }

/*GALERIA*/
.galeria__title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #FD5680;
  background-color: #0A0003;
  scroll-behavior: smooth;
  height: 200px;
  line-height: 240px;
  font-family: "Courgette", cursive; }

.container__galeria {
  background-color: #0A0003;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 50px;
  padding-top: 20px;
  grid-gap: 50px;
  position: relative; }

.container__menu .container__galeria--menu {
  position: relative;
  height: 250px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.container__menu .container__galeria--menu .container__galeria--img {
  width: 100%;
  height: 100%;
  transition: all 700ms ease-out;
  will-change: transform;
  object-fit: cover; }

.container__menu .container__galeria--menu .container__galeria--parrafo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(95, 142, 151, 0.7);
  transition: all 700ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }
  .container__menu .container__galeria--menu .container__galeria--parrafo h3 {
    color: #FD5680;
    display: none; }

/*HOVERS DE GALERIA*/
.container__menu .container__galeria--menu:hover > .container__galeria--parrafo {
  opacity: 1;
  visibility: visible; }

.container__menu .container__galeria--menu:hover > .container__galeria--parrafo h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.container__menu .container__galeria--menu:hover > .container__galeria--img {
  transform: scale(1.3); }

.container__menu .container__galeria--menu:hover > .container__galeria--parrafo h3 {
  /*color: #fff;*/
  /*color:#FB7E22;*/
  display: block;
  color: #FD5680;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 120px;
  transition: all 200ms ease-in;
  margin-top: 70px; }

/*Conocenos*/
.informacion__conocenos {
  text-align: center;
  font-size: 55px;
  color: #FD5680;
  font-family: "Courgette", cursive;
  background-color: #0A0003;
  height: 240px;
  line-height: 240px; }

.container__conocenos {
  width: 100%;
  height: 1070px;
  background-color: #0A0003;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 500px;
  grid-gap: 20px; }
  .container__conocenos .container__foto .container__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 60px; }
  .container__conocenos .container__foto .container__img--alter {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 60px; }
  .container__conocenos .container__frases--informacion {
    color: white;
    text-align: center;
    font-family: "Courgette", cursive;
    line-height: 412px;
    font-size: 28px; }

.container__frases:nth-child(3) {
  grid-column-start: span 3; }

.container__frases:nth-child(5) {
  grid-column-start: span 2; }

/*CONTAINER PROMOCIONES*/
.container__title--promociones {
  text-align: center;
  font-size: 45px;
  color: #FD5680;
  font-family: "Courgette", cursive;
  background-color: #000;
  height: 250px;
  line-height: 240px; }

.container__promociones {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #000;
  height: 500px; }

.container__carrusel {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite; }
  .container__carrusel .container__bloque {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);*/
    /*SOLO DESBLOQUEAR ESTA EXTENSION SI SE DECEA AGREGAR IMAGENES*/
    /*   &--item{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }*/ }
    .container__carrusel .container__bloque .container__logo {
      color: #FD5680;
      font-size: 50px;
      text-align: center;
      line-height: 250px;
      background-color: #000;
      height: 250px;
      font-family: "Courgette", cursive; }
    .container__carrusel .container__bloque--parrafo {
      color: white;
      font-size: 40px;
      text-align: center;
      padding-top: 70px;
      background-color: #000;
      height: 200px;
      font-family: "Courgette", cursive; }

/*ANIMACION*/
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg); }
  100% {
    transform: perspective(1000px) rotateY(360deg); }
  0% {
    transform: perspective(1000px) rotateY(0deg); } }

/*Reserva*/
.container__caja--texto {
  text-align: center;
  font-size: 35px;
  font-family: "Courgette", cursive;
  background-color: #0A0003;
  height: 100px;
  line-height: 70px; }
  .container__caja--texto a {
    color: #FB7E22;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite; }

/*Animacion-Reservacion*/
@keyframes animacion {
  0% {
    font-size: 35px; }
  50% {
    font-size: 60px; }
  100% {
    font-size: 35px; } }

/*FOOTER CONTACTO*/
.container__contacto {
  width: 100%;
  height: 200px;
  background-color: #000; }
  .container__contacto .container__redesSociales {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container__contacto .container__redesSociales .container__listaSociales {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      list-style-type: none;
      list-style-type: none; }
      .container__contacto .container__redesSociales .container__listaSociales a:nth-child(1) {
        color: white;
        margin-left: 25px; }
      .container__contacto .container__redesSociales .container__listaSociales a:nth-child(2) {
        color: white;
        margin-left: 25px; }
      .container__contacto .container__redesSociales .container__listaSociales a:nth-child(3) {
        color: white;
        margin-left: 25px; }
    .container__contacto .container__redesSociales .container__direccion {
      margin-top: 15px;
      color: #FB7E22;
      font-size: 20px; }

/*PAGINA Reservacion*/
.container__form {
  width: 45%;
  height: 650px;
  margin: 0px auto;
  margin-top: 80px;
  border-radius: 10px; }
  .container__form .container__formulario {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 85px; }
    .container__form .container__formulario input[type="text"] {
      width: 500px;
      border-color: #FB7E22;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
      outline: none;
      margin-top: 20px; }
    .container__form .container__formulario input[type="email"] {
      width: 500px;
      border-color: #FB7E22;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
      outline: none;
      margin-top: 20px; }
    .container__form .container__formulario input[type="datetime"] {
      width: 500px;
      border-color: #FB7E22;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
      outline: none;
      margin-top: 20px; }
    .container__form .container__formulario .container__horario {
      color: #FD5680;
      font-size: 25px;
      margin-top: 10px; }
    .container__form .container__formulario .container__horario--line {
      border-color: #FB7E22;
      width: 530px;
      outline: none;
      height: 50px;
      margin-top: 10px;
      color: #757575;
      text-align: center;
      font-size: 25px;
      border-radius: 10px; }
    .container__form .container__formulario .container__numero {
      color: #FD5680;
      font-size: 25px;
      margin-top: 10px;
      margin-top: 10px; }
    .container__form .container__formulario .container__numero--number {
      border-color: #FB7E22;
      width: 65px;
      outline: none;
      padding: 10px;
      height: 30px;
      margin-top: 10px;
      border-radius: 10px;
      font-size: 20px;
      justify-content: center;
      padding-left: 20px; }
    .container__form .container__formulario .container__comentario {
      color: #FD5680;
      font-size: 20px;
      margin-top: 10px;
      margin-top: 10px; }
    .container__form .container__formulario .container__comentario--caja {
      border-color: #FD5680;
      width: 512px;
      outline: none;
      padding: 10px;
      height: 45px;
      margin-top: 10px;
      border-radius: 10px;
      font-size: 20px; }
    .container__form .container__formulario input[type="submit"] {
      color: white;
      background-color: #FB7E22;
      padding: 10px;
      outline: none;
      cursor: pointer;
      border-color: #FB7E22;
      border-radius: 10px;
      margin-top: 15px;
      margin-left: 230px; }

.container__general--reseñas {
  width: 100%;
  height: 1300px;
  background-color: #000; }
  .container__general--reseñas .container__review {
    width: 100%;
    height: 1299px;
    background-color: #000;
    padding-top: 150px;
    padding-left: 400px; }
    .container__general--reseñas .container__review .review__titulo {
      font-size: 60px;
      color: #FD5680;
      font-family: "Roboto Mono", monospace;
      padding-bottom: 5px; }
    .container__general--reseñas .container__review--lista {
      display: flex;
      flex-direction: column; }
      .container__general--reseñas .container__review--lista .container__review--item {
        border-top: 2px solid #FB7E22;
        width: 45%;
        color: white;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px; }
        .container__general--reseñas .container__review--lista .container__review--item p {
          font-family: cursive;
          color: white; }
        .container__general--reseñas .container__review--lista .container__review--item .container__review--alter {
          display: flex;
          flex-direction: row; }
          .container__general--reseñas .container__review--lista .container__review--item .container__review--alter .review--subitem {
            list-style-type: none;
            padding: 4px; }

/*RESPONSIVE DESING*/
